# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Common
.env
*.png
*.pdf

# other
datasets/
rf_runs/
runs_flowdas/
logs/
wandb/
flowdas-lorenz/
scratch/
enff-code/
*plot.py
*wandb*
visualize_ks.py