# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Common
.env
*.png
*.pdf
*.log

# other
datasets/
rf_runs/
runs_flowdas/
logs/
wandb/
flowdas-lorenz/
scratch/
enff-code/
Score-based-Filter/
*plot*
*wandb*
visualize_ks.py
docs/
evaluation_outputs/
runs/
tuning_results/
CODEBASE*